[Unit]
Description=BagaszPraa service

[Service]
Environment=DISPLAY=:0
ExecStart=/home/bagas/bagas.sh
Restart=always
User=bagas
Environment=XAUTHORITY=/home/bagas/.Xauthority

[Install]
WantedBy=multi-user.target
